
.text {
  font-family: 'Get Schwifty', sans-serif;
  color: #a6cccc;
  font-size: 20px;
  text-shadow: 1px 1px 2px #88e23b;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
